.mobile-overlay {
  position: fixed;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s ease-in-out;
  display: none;
  z-index: 98;

  &.visibility {
    opacity: 1;
    pointer-events: all;
  }
}

.navbar-container {
  width: 100%;
  height: 10rem;
  padding-inline: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: transparent;
  transition:
    background-color 0.3s ease-in-out,
    backdrop-filter 0.3s ease-in-out;

  &.scrolled {
    background-color: rgba(12, 11, 11, 0.92);
    backdrop-filter: blur(20px);
  }

  .container {
    width: 100%;
    height: 100%;
    padding-inline: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      flex: 1;
      display: flex;
      align-items: center;
      word-spacing: -0.1px;

      & > h1 {
        font-size: 2.5rem;
        font-weight: var(--fw-headline-semibold);
        text-transform: capitalize;
        letter-spacing: -2px;
        color: var(--gold-t90);
        cursor: pointer;

        & > span {
          font-family: var(--font-headline);
          color: var(--gold-t50);
        }
      }
    }

    .links {
      flex: 1;

      ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
          padding-inline: 1.5rem;
          padding-block: 0.6rem;

          a {
            text-decoration: none;
            color: var(--gold-t95);
            font-size: 1.7rem;
            font-weight: var(--fw-body-regular);
            text-transform: capitalize;
            letter-spacing: 0.5px;
            cursor: pointer;
            position: relative;
            transition: all 0.3s ease-in-out;

            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 0.2rem;
              background-color: var(--primary-t40);
              transform-origin: left;
              transform: scaleX(0);
              transition: transform 0.3s ease-in-out;
            }

            &:hover::after {
              transform: scaleX(1);
            }

            &:hover {
              color: var(--primary-t40);
              font-size: 1.8rem;
              font-weight: var(--fw-body-medium);
            }
          }
        }
      }
    }

    .order-mobile {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 2rem;

      .order {
        transition: all 0.3s ease-in-out;

        & > button {
          background-color: var(--primary-t40);
          border: none;
          border-radius: 0.5rem;
          padding-inline: 3rem;
          padding-block: 0.5rem;
          font-size: 1.6rem;
          font-family: var(--font-body);
          font-weight: var(--fw-body-regular);
          letter-spacing: 1px;
          color: var(--gold-t100);
          text-transform: capitalize;
          display: inline-flex;
          align-items: center;
          gap: 0.8rem;
          cursor: pointer;
          position: relative;
          overflow: hidden;

          .order-text,
          .order-icon {
            transition: all 0.3s ease-in-out;
          }

          .order-text {
            transform: translateX(0);
            opacity: 1;
          }

          .order-icon {
            font-size: 2rem;
            position: absolute;
            left: 50%;
            top: 2rem;
            transform: translate(-50%, -50%) translateX(-1.8rem);
            opacity: 0;
          }

          &:hover {
            .order-text {
              transform: translateX(-1.8rem);
              opacity: 0;
            }

            .order-icon {
              transform: translate(-50%, -50%) translateX(0);
              opacity: 1;
            }
          }
        }

        &:hover {
          transform: scale(1.1);
        }
      }

      .mobile {
        font-size: 2.3rem;
        color: var(--gold-t90);
        cursor: pointer;
        display: none;
      }
    }
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-block: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    background-color: var(--mobile-navbar-bg);
    z-index: 99;

    .close {
      color: var(--mobile-navbar-close-color);
      font-size: 3.5rem;
      cursor: pointer;
      position: absolute;
      top: 2rem;
      right: 3rem;
    }

    .mobile-logo {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 40rem;
      }
    }

    ul {
      list-style: none;
      margin-top: 10rem;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-block: 0.8rem;
        padding-inline: 1rem;

        a {
          text-align: center;
          color: var(--gold-t50);
          font-size: 2rem;
          font-weight: var(--fw-body-light);
          letter-spacing: 1px;
          text-decoration: none;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .mobile-overlay {
    display: block;
  }

  .navbar-container {
    padding-inline: 3rem;

    .container {
      .links {
        display: none;
      }

      .order-mobile {
        .mobile {
          display: block;
        }
      }
    }

    .mobile-menu {
      justify-content: flex-start;
      z-index: 99;

      .close {
        top: 4rem;
        right: 4rem;
        font-size: 4rem;
      }

      ul {
        
        li {
          a {
            font-size: 2.5rem;
            &.active {
              color: var(--gold-t80);
              font-weight: var(--fw-body-medium);
            }
          }
        }
      }

      .order {
        margin-top: 3rem;

        & > button {
          font-size: 2rem;
          padding-inline: 6rem;
          padding-block: .6rem;
          border: none;
          background-color: var(--gold-t50);
          color: var(--cream-t95);
          border-radius: .5rem;
        }
      }

      .mobile-logo {
        width: 100%;
        position: absolute;
        bottom: 10rem;

        & > h1 {
          font-size: 3.2rem;
          font-weight: var(--fw-headline-semibold);
          text-transform: capitalize;
          color: var(--cream-t95);

          & > span {
            color: var(--gold-t50);
          }
        }
      }
    }
  }
}

@media (max-width: 820px) {
  .mobile-overlay {
    display: block;
  }

  .navbar-container {
    padding-inline: 3rem;

    .mobile-menu {
      justify-content: flex-start;
      z-index: 99;

      .close {
        top: 4rem;
        right: 4rem;
        font-size: 3.2rem;
      }

      ul {
        
        li {
          a {
            font-size: 2rem;
            &.active {
              color: var(--gold-t80);
              font-weight: var(--fw-body-medium);
            }
          }
        }
      }

      .order {
        margin-top: 2rem;

        & > button {
          font-size: 1.6rem;
          padding-inline: 5rem;
          padding-block: .6rem;
          border: none;
          background-color: var(--gold-t50);
          color: var(--cream-t95);
          border-radius: .5rem;
        }
      }

      .mobile-logo {
        width: 100%;
        position: absolute;
        bottom: 8rem;

        & > h1 {
          font-size: 2.5rem;
          font-weight: var(--fw-headline-semibold);
          text-transform: capitalize;
          color: var(--cream-t95);

          & > span {
            color: var(--gold-t50);
          }
        }
      }
    }
  }
}

@media (max-width: 430px) {
  .navbar-container {
    .container {
      padding: 0;

      .logo {
        & > h1 {
          font-size: 2rem;
        }
      }

      .order-mobile {
        .order {
          display: none;
        }
      }
    }
    .mobile-menu {
      width: 100%;
      padding-block: 0;
      justify-content: center;

      ul {
        margin-top: 0;

        li {
          padding-block: 0.8rem;
        }
      }

      .order {
        & > button {
          margin-top: 1.5rem;
          border: none;
          background-color: var(--gold-t50);
          padding-inline: 4.5rem;
          padding-block: 0.8rem;
          border-radius: 0.5rem;
          display: inline-flex;
          align-items: center;

          & > span {
            font-size: 1.6rem;
            font-weight: var(--fw-body-semibold);
            letter-spacing: 1px;
            text-transform: capitalize;
          }
        }
      }

      .mobile-logo {
        position: absolute;
        bottom: 4rem;

        h1 {
          letter-spacing: -0.5px;
          font-size: 2.5rem;
          font-weight: var(--fw-headline-regular);
          text-transform: capitalize;
          color: var(--cream-t95);

          & > span {
            color: var(--gold-t50);
          }
        }
      }
    }
  }
}

@media (max-width: 414px) {
  .navbar-container {
    .container {
      padding: 0;

      .logo {
        & > h1 {
          font-size: 2rem;
        }
      }
    }
    .mobile-menu {
      width: 100%;
      padding-block: 0;
      justify-content: center;

      ul {
        margin-top: 0;

        li {
          padding-block: 0.8rem;
        }
      }

      .order {
        & > button {
          margin-top: 1.5rem;
          border: none;
          background-color: var(--gold-t50);
          padding-inline: 4.5rem;
          padding-block: 0.8rem;
          border-radius: 0.5rem;
          display: inline-flex;
          align-items: center;

          & > span {
            font-size: 1.6rem;
            font-weight: var(--fw-body-semibold);
            letter-spacing: 1px;
            text-transform: capitalize;
          }
        }
      }

      .mobile-logo {
        position: absolute;
        bottom: 4rem;

        h1 {
          letter-spacing: -0.5px;
          font-size: 2.5rem;
          font-weight: var(--fw-headline-regular);
          text-transform: capitalize;
          color: var(--cream-t95);

          & > span {
            color: var(--gold-t50);
          }
        }
      }
    }
  }
}

@media (max-width: 390px) {
  .navbar-container {
    .container {
      padding: 0;

      .logo {
        & > h1 {
          font-size: 2rem;
        }
      }
    }
    .mobile-menu {
      width: 100%;
      padding-block: 0;
      justify-content: center;

      ul {
        margin-top: 0;

        li {
          padding-block: 0.8rem;
        }
      }

      .order {
        & > button {
          margin-top: 1.5rem;
          border: none;
          background-color: var(--gold-t50);
          padding-inline: 4.5rem;
          padding-block: 0.8rem;
          border-radius: 0.5rem;
          display: inline-flex;
          align-items: center;

          & > span {
            font-size: 1.6rem;
            font-weight: var(--fw-body-semibold);
            letter-spacing: 1px;
            text-transform: capitalize;
          }
        }
      }

      .mobile-logo {
        position: absolute;
        bottom: 4rem;

        h1 {
          letter-spacing: -0.5px;
          font-size: 2.5rem;
          font-weight: var(--fw-headline-regular);
          text-transform: capitalize;
          color: var(--cream-t95);

          & > span {
            color: var(--gold-t50);
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .navbar-container {
    .container {
      padding: 0;

      .logo {
        & > h1 {
          font-size: 2rem;
        }
      }
    }
    .mobile-menu {
      width: 100%;
      padding-block: 0;
      justify-content: center;

      ul {
        margin-top: 0;

        li {
          padding-block: 0.5rem;

          a {
            font-size: 1.9rem;
          }
        }
      }

      .order {
        & > button {
          margin-top: 1.5rem;
          border: none;
          background-color: var(--gold-t50);
          padding-inline: 4.5rem;
          padding-block: 0.8rem;
          border-radius: 0.5rem;
          display: inline-flex;
          align-items: center;

          & > span {
            font-size: 1.6rem;
            font-weight: var(--fw-body-semibold);
            letter-spacing: 1px;
            text-transform: capitalize;
          }
        }
      }

      .mobile-logo {
        position: absolute;
        bottom: 4rem;

        h1 {
          letter-spacing: -0.5px;
          font-size: 2.2rem;
          font-weight: var(--fw-headline-regular);
          text-transform: capitalize;
          color: var(--cream-t95);

          & > span {
            color: var(--gold-t50);
          }
        }
      }
    }
  }
}
